body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background:#f4f4f4;
}

header{
    background:#0b3d91;
    color:white;
    text-align:center;
    padding:40px;
}

section{
    padding:40px;
}

.tarjeta{
    background:white;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
    box-shadow:0px 2px 10px rgba(0,0,0,0.1);
}

footer{
    text-align:center;
    background:#222;
    color:white;
    padding:20px;
}