/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{

    background: linear-gradient(
        135deg,
        #e0f2fe,
        #dbeafe,
        #ede9fe
    );

    min-height:100vh;
    color:#1e293b;
}

/* HERO */

.hero{

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    text-align:center;

    padding:40px;
}

.hero-content{

    background:rgba(255,255,255,0.35);

    backdrop-filter:blur(15px);

    border-radius:30px;

    padding:50px;

    max-width:800px;

    box-shadow:
        0 10px 40px rgba(0,0,0,0.12);
}

.profile-pic{

    width:180px;
    height:180px;

    border-radius:50%;

    object-fit:cover;

    border:5px solid #7c3aed;

    margin-bottom:20px;
}

.hero h1{

    font-size:3rem;

    color:#2563eb;
}

.hero h2{

    color:#7c3aed;

    margin-bottom:10px;

    font-weight:500;
}

.hero p{

    font-size:1.1rem;

    margin-bottom:25px;
}

/* ICONOS */

.contact-icons{

    display:flex;

    justify-content:center;

    gap:20px;
}

.contact-icons a{

    width:55px;
    height:55px;

    background:#2563eb;

    color:white;

    border-radius:50%;

    display:flex;

    justify-content:center;
    align-items:center;

    text-decoration:none;

    font-size:22px;

    transition:0.3s;
}

.contact-icons a:hover{

    background:#fbbf24;

    color:#111827;

    transform:translateY(-5px);
}

/* SECCIONES */

section{

    padding:80px 10%;
}

section h2{

    text-align:center;

    margin-bottom:40px;

    font-size:2.5rem;

    color:#2563eb;
}

/* SOBRE MI */

.card{

    background:white;

    border-radius:25px;

    padding:40px;

    max-width:1000px;

    margin:auto;

    box-shadow:
        0 8px 25px rgba(0,0,0,0.08);

    line-height:1.8;
}

/* PROYECTOS */

.project-grid{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(280px,1fr));

    gap:25px;
}

.project-card{

    background:white;

    border-radius:25px;

    padding:30px;

    transition:0.3s;

    box-shadow:
        0 8px 25px rgba(0,0,0,0.08);
}

.project-card:hover{

    transform:translateY(-10px);

    border-left:8px solid #fbbf24;
}

.project-card h3{

    color:#7c3aed;

    margin-bottom:15px;
}

.project-card p{

    line-height:1.7;
}

/* FOOTER */

footer{

    background:#2563eb;

    color:white;

    text-align:center;

    padding:25px;
}

/* RESPONSIVE */

@media(max-width:768px){

    .hero h1{

        font-size:2.2rem;
    }

    .hero-content{

        padding:30px;
    }

    .profile-pic{

        width:140px;
        height:140px;
    }
}